:root {
    --primary: #ffffff;
    --secondary: black;
    --accent: #8e2bff;
}

html {
    scroll-behavior: smooth;
}

* {
    background-color: var(--primary);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* nav bar styling */
.navbar.navbar-expand-lg {
    background-color: var(--secondary);
    color: var(--primary);

}

.navbar-nav .accent-link.accent-link.accent-link.accent-link {
    color: var(--accent);
}

.nav-item {
    color: var(--primary);
}

.navbar-nav .nav-link {
    color: var(--secondary);
}

.navbar-nav .nav-link:hover {

    color: var(--accent);
}

.logo {
    position: relative;
    margin-top: 20px;
    text-align: center;
    background-color: transparent;
}

.logo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.logo:hover {
    animation: spin 3s infinite linear;
}


@keyframes spin {
    from {
        transform: rotate(0deg);
        /* Start from 0 degree rotation */
    }

    to {
        transform: rotate(360deg);
        /* Rotate to 360 degrees for one complete rotation */
    }
}

/* styling for the video and background card. */
.card {
    max-width: 600px;
    margin: 0 auto;
    background-color: var(--primary);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 20px;
}

.background-statement {
    text-align: center;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.background-statement p {
    font-size: 1.2em;
}

.aidanbisset-video video {
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
    /* how do I get the video to be centered? */

}

/* card 2 styling */

.card2 {
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
}

.row {
    display: flex;
}

.column {
    flex: 1;
    padding: 10px;
}

img {
    max-width: 100%;
    height: auto;
}

h3,
p {
    margin: 0;
}

/* 2X3 photo grid styling */
.grid-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}

.photos {
    grid-row: 1;
    grid-column: 1 / span 6;
    display: flex;
    padding: 40px;
    justify-content: space-between;
}

/* Set width for .photo */
.photo1,
.photo2,
.photo3 {
    width: calc(100% / 3 - 10px);
    margin-right: 10px;
}

.concertrec,
.playlists,
.artistspotlight {
    grid-row: 1;
    grid-column: 1 / span 6;
}

.photo img {
    max-width: 100%;
    height: auto;
    border: solid 10px var(--accent);
}

.concertrec,
.playlists,
.artistspotlight {
    padding: 10px;
    background-color: var(--primary);
    border-radius: 5px;
}


/* CSS for table starts here */

/* CSS for table on products page ends here */

/*font awesome animation*/
.musicnote {
    position: relative;
    align-items: left;
    display: inline-block;
    /* overflow: hidden; */
    /* Ensure the overflow is hidden to prevent the icon from showing outside the card */
}

.musicnote i {
    left: -100px;
    animation: moveMusicNote 3s linear forwards;
}

@keyframes moveMusicNote {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);

    }
}

/* table styling */
.mycustomers {
    color: #8e2bff;
    justify-content: center;
    align-items: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

th {
    padding: 8px;
    text-align: left;
    background-color: #f2f2f2;
    color: #8e2bff;
}

td {
    padding: 8px;
    border: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}