:root {
    --primary: #ffffff;
    --secondary: black;
    --accent: #8e2bff;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* nav bar styling */
.navbar.navbar-expand-lg {
    background-color: var(--primary);
    color: var(--primary);
}

.navbar-nav .accent-link.accent-link.accent-link.accent-link {
    color: var(--accent);
}

.navbar-nav .nav-link {
    color: var(--secondary);
}

.navbar-nav .nav-link:hover {
    color: var(--accent);
}

.logo {
    position: relative;
    margin-top: 20px;
    text-align: center;
}

.logo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.logo:hover {
    animation: spin 3s;
}

/* .logo:hover {
    animation: spin 3s infinite linear;
} */

@keyframes spin {
    from {
        transform: rotate(0deg);
        /* Start from 0 degree rotation */
    }

    to {
        transform: rotate(360deg);
        /* Rotate to 360 degrees for one complete rotation */
    }
}